<div>
    <h2 translate="myappApp.saleLine.home.title">SaleLines</h2>
    <jh-alert></jh-alert>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th class="col-sm-9"><span translate="myappApp.saleLine.article">article</span></th>
                <th class="col-sm-1"><span translate="myappApp.saleLine.quantity">Quantity</span></th>
                <th class="col-sm-1"><span translate="myappApp.saleLine.price">Price</span></th>
                <th class="col-sm-1"><span translate="myappApp.saleLine.tax">Tax</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" id="id" name="id"
                           ng-model="saleLine.id" readonly ng-show="false"/>
                    <select class="form-control" id="field_article" name="article" ng-model="saleLine.article"
                            ng-options="article as article.articleName for article in articles track by article.id">
                        <option value=""></option>
                    </select>
                </td>
                <td>
                    <input type="number" class="form-control" name="quantity" id="field_quantity"
                           ng-model="saleLine.quantity"
                           required/>

                    <div ng-show="editForm.quantity.$invalid">
                        <p class="help-block"
                           ng-show="editForm.quantity.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.quantity.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </td>
                <td>
                    <input type="number" class="form-control" name="price" id="field_price"
                           ng-model="saleLine.price"
                           required/>

                    <div ng-show="editForm.price.$invalid">
                        <p class="help-block"
                           ng-show="editForm.price.$error.required" translate="entity.validation.required">
                            This field is required.
                        </p>

                        <p class="help-block"
                           ng-show="editForm.price.$error.number" translate="entity.validation.number">
                            This field should be a number.
                        </p>
                    </div>
                </td>
                <td>
                    <input type="number" class="form-control" name="tax" id="field_tax"
                           ng-model="saleLine.tax"
                    />
                </td>
                <td>
                    <button type="submit"
                            ng-click="save()"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon glyphicon-plus"></span>&nbsp;Add
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>


    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th><span translate="global.field.id">ID</span></th>
                <th><span translate="myappApp.saleLine.sale">sale</span></th>
                <th><span translate="myappApp.saleLine.article">article</span></th>
                <th><span translate="myappApp.saleLine.quantity">Quantity</span></th>
                <th><span translate="myappApp.saleLine.price">Price</span></th>
                <th><span translate="myappApp.saleLine.tax">Tax</span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="saleLine in saleLines track by saleLine.id">
                <td><a ui-sref="saleLine.detail({id:saleLine.id})">{{saleLine.id}}</a></td>
                <td>
                    <a ui-sref="sale.detail({id:saleLine.sale.id})">{{saleLine.sale.id}}</a>
                </td>
                <td>
                    <a ui-sref="article.detail({id:saleLine.article.id})">{{saleLine.article.articleName}}</a>
                </td>
                <td>{{saleLine.quantity}}</td>
                <td>{{saleLine.price}}</td>
                <td>{{saleLine.tax}}</td>
                <td>
                    <button type="submit"
                            ui-sref="saleLine.delete({id:saleLine.id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>&nbsp;<span
                        translate="entity.action.delete"> Delete</span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="saleLine.new">
                    <span class="glyphicon glyphicon-flash"></span> <span
                    translate="myappApp.saleLine.home.createLabel">Create a new Sale</span>
                </button>
            </div>
        </div>
    </div>

</div>
